{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a style="color:#494e52" href="{{ base_path }}{{ post.link }}" rel="permalink">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
    {% if post.coauthors %}
    with {{post.coauthors}}
    {% endif %}

    {% if post.outcome %}
      <br>{{post.outcome}}
    {% endif %}

    {% if post.press %}
      <br> Press: {{post.press}}
    {% endif %}

    {% if post.data %}
      <br> {{post.data}}
    {% endif %}

    {% if post.abstract %}
      <br> <details><summary>Abstract</summary>{{post.abstract}}</details>
    {% endif %}


  </article>
</div>
